---
apiVersion: v1
kind: Secret
metadata:
  name: vault-credentials
  namespace: default
type: Opaque
stringData:
  terraform.tfvars.json: |
    {
      "vault_token": "hvs.EXAMPLE-TOKEN-REPLACE-WITH-REAL-VALUE"
    }
